{% extends 'base.html.twig' %}

{% block title %}Crow{% endblock %}

{% block body %}


        <div>
            <br>
            <h1 class="letra_breathe_fire"> Main Page</h1>
  
        </div>

{% endblock %}