/*2048 x 186*/
body, html {
    height: 100%;
}


/* define el alto de la linea 2*/
.lineados {
  height:82%;
}

/* define el alto de la linea 1*/
.header_img {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: url("../img/header6.jpg");
  /* Set a specific height */
  height: 18%;
  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;  
}

/* fondo del menu lateral */
.leftmenu_img {
  background-image: url("../img/forest_left_side.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat; 
}

.mainpage_img {
  background-image: url("../img/crow_page_no_titles_2304w_v2.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}


.mapa_img {
  background-image: url("../img/mapa.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}


.imagenBoton {
  background-image: url("../img/button_menu_02_test.png");
  background-size: 100% 100%;
  background-repeat: no-repeat; 
  background-position: right;
  }


.sinespacioaladerecha {
  padding-right: 0;
}


html {
  font-size: 1rem;
}
h1 {
 font-size: 1.2rem;
}
h2 {
 font-size: 1.1rem;
}

@media (min-width: 768px) {
 html {
   font-size: 1.1rem;
 }
 h1 {
     font-size: 1.3rem;
 }
 h2 {
     font-size: 1.2rem;
 }
}

@media (min-width: 991px) {
   html {
   font-size: 1.2rem;
 }
 h1 {
     font-size: 1.5rem;
 }
 h2 {
     font-size: 1.4rem;
 }
}

@media (min-width: 1200px) {
 html {
   font-size: 1.2rem;
 }
 h1 {
     font-size: 1.7rem;
 }
 h2 {
     font-size: 1.6rem;
 }
}



@font-face {
  font-family: nombre_de_fuente;
  src:url("../fonts/BREATHE_FIRE.OTF");
}

.letra_breathe_fire{
  font-family: nombre_de_fuente;
}




/* define el alto de la linea 1*/
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: url("../img/header.png") , url("../img/photos/girl.jpg");

  /* Set a specific height */
  height: 18%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover,contain;
  position: relative;
   
}


.borde1 {
  width:650px;
 
  border:5px solid #00FF00;
}



